includes:
	- phpstan-baseline.neon

parameters:
	parallel:
		maximumNumberOfProcesses: 5

	level: 7

	typo3:
		requestGetAttributeMapping:
			route: TYPO3\CMS\Backend\Routing\Route|null

	bootstrapFiles:
		- vendor/autoload.php

	paths:
		- Classes
		- Configuration
		- Tests
